{% from "macros/select.njk" import select %}
{% from "macros/date-input.njk" import dateInput %}
{% macro dateSelect(viewType, years, weeks, months, startDate, endDate) %}
  <div id="filters" hx-swap-oob="true" class="flex">
    {% if viewType != "custom" %}
      {{ select(options=years,
            outerClass="me-4",
            name="year",
            hxGet="/google/sites/analytics/rows",
            hxTrigger="change",
            hxInclude=".rows-trigger") }}
    {% endif %}
    {% if viewType == "month" %}
      {{ select(options=months,
            outerClass="me-4",
            name="month",
            hxGet="/google/sites/analytics/rows",
            hxTrigger="change",
            hxInclude=".rows-trigger") }}
    {% elif viewType == "week" %}
      {{ select(options=weeks,
            outerClass="me-4",
            name="week",
            hxGet="/google/sites/analytics/rows",
            hxTrigger="change",
            hxInclude=".rows-trigger") }}
    {% elif viewType == "custom" %}
      {{ dateInput(id="period-date-start",
            value=startDate,
            max=endDate,
            outerClass="me-4",
            name="startDate",
            hxGet="/google/sites/analytics/rows",
            hxTrigger="change",
            hxInclude=".rows-trigger") }}
      {{ dateInput(id="period-date-end",
            value=endDate,
            min=startDate,
            name="endDate",
            hxGet="/google/sites/analytics/rows",
            hxTrigger="change",
            hxInclude=".rows-trigger") }}
    {% endif %}
  </div>
{% endmacro %}
