{% macro dateInput(
  options,
  id='',
  value='',
  outerClass='',
  selectClass='',
  hxSwapOob=false,
  hxGet='',
  hxTrigger='',
  hxInclude='',
  name='',
  min='',
  max='') %}
  <div id="{{ id }}"
       hx-swap-oob="{{ hxSwapOob }}"
       class="grid grid-cols-1 w-36 {{ outerClass }}">
    <input type="date"
           value="{{ value }}"
           hx-get="{{ hxGet }}"
           hx-trigger="{{ hxTrigger }}"
           hx-include="{{ hxInclude }}"
           name="{{ name }}"
           min="{{ min }}"
           max="{{ max }}"
           onfocus="this.showPicker()"
           class="rows-trigger col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pe-8 ps-3 text-gray-900 outline-1 -outline-offset-1 outline-gray-300 text-sm {{ innerClass }}" />
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="pointer-events-none col-start-1 row-start-1 mr-2 justify-self-end self-center size-4 text-gray-500">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
    </svg>
  </div>
{% endmacro %}
