{% extends "base.njk" %}
{% block main %}
  <div class="max-w-7xl mx-auto">
    <div class="px-8 xl:px-0">
      <div class="flex">
        <a href="{{ addAccUrl }}" class="block ml-auto" tabindex="-1">
          <button class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm leading-5 font-semibold text-white shadow-sm focus:outline-none focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:bg-indigo-500">
            Добавить
          </button>
        </a>
      </div>
      <div class="flow-root mt-8">
        <div class="overflow-x-auto -mx-8 -my-2">
          <div class="inline-block min-w-full py-2 align-middle px-8">
            <table class="min-w-full divide-gray-300 divide-y">
              <thead>
                <tr>
                  <th scope="col"
                      class="w-12 py-3.5 text-left text-sm font-semibold text-gray-900 whitespace-nowrap"></th>
                  <th scope="col"
                      class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 whitespace-nowrap">Email</th>
                  <th scope="col"
                      class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900 whitespace-nowrap">Id</th>
                  <th scope="col" class="py-3.5 pl-3 relative"></th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-300">
                {% for account in accounts %}
                  <tr>
                    <td class="relative px-2">
                      <img class="rounded-full"
                           src="/google/accounts/{{ account.google_account_id }}/pfp" />
                    </td>
                    <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-900 font-medium">{{ account.email }}</td>
                    <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ account.google_account_id }}</td>
                    <td></td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="4"
                        class="whitespace-nowrap py-4 px-3 text-sm text-gray-900 font-medium">Нет аккаунтов...</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
